In [1]:
print("hello python")

hello python

In [4]:
#given a string example
str1 = "first time use python"

In [5]:
# check if "time" is present in "first time use python"

In [7]:
print("str1","time")

str1 time

In [13]:
# creat a list and remove some items
list = [1,2,3,4,5,"banana","mango","apple"]

In [16]:
print(list)

[1, 2, 3, 4, 5, 'banana', 'mango', 'apple']

In [19]:
rem= list.pop(5)
print(rem)

mango

In [20]:
list

[1, 2, 3, 4, 'banana', 'apple']

In [21]:
# use here count() method
list1 = [1,2,3,4,"banana","apple"]
print(list1)

[1, 2, 3, 4, 'banana', 'apple']

In [26]:
x = list1.count(4)

In [25]:
print(x)

1

In [27]:
# use the clear() method
list2 = [1,2,3,4,5,6,7,False]
print(list2)

[1, 2, 3, 4, 5, 6, 7, False]

In [28]:
list2.clear()
print(list2)

[]

In [29]:
# use the sort() method
list3 = ["orange","apple","mango","banana","greeps"]
print(list3)

['orange', 'apple', 'mango', 'banana', 'greeps']

In [31]:
list3.sort()
print(list3)

['apple', 'banana', 'greeps', 'mango', 'orange']

In [42]:
# use the reverse() method
alph = ["a","b","c","d","e"]
ralph = reversed(alph)
for x in ralph:
    print(x)

e
d
c
b
a

In [39]:
# creat a list of lenght = 10

In [57]:
list5 = [[1,2,3],[4,5,6],[7,8,9]]
list5

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
#to access element 1
list5[0][0]

1

In [60]:
#to access element 7
list5[2][0]

7

In [62]:
#to access element 5
list5[1][1]

5

In [64]:
list6 = [1,2,3,[4,5,6,7,[8,9]]]
list6

[1, 2, 3, [4, 5, 6, 7, [8, 9]]]

In [65]:
list6[2]

3

In [75]:
#to access element 1
list6[0]

1

TypeError: insert expected 2 arguments, got 3

In [129]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2.insert(3,[7,8])
l2

[1, 2, [3, 4, 5, 6], [7, 8], 9]