In [ ]:
# task 5 from the following dictionary do the task
# access "mike"
# access 80
# change "mike" to "your name"
# add ML=80and DL=80 inside marks

In [1]:
dict1 = {"april_batch":{"student":{"name":"MIKE","marks":{"python":80,"mark":70}}}}
dict1

{'april_batch': {'student': {'name': 'MIKE',
   'marks': {'python': 80, 'mark': 70}}}}

In [3]:
# access "MIKE"
dict1["april_batch"]["student"]["name"]

'MIKE'

In [4]:
# access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [5]:
# change "MIKE" to "your name"
dict1["april_batch"]["student"]["name"] = "avinash"

In [6]:
print(dict1)

{'april_batch': {'student': {'name': 'avinash', 'marks': {'python': 80, 'mark': 70}}}}

In [9]:
# add ML=80 and DL=80 inside mark
dict1["april_batch"]["student"]["marks"].update({"ML":80,"DL":80})

In [17]:
print(dict1)

NameError: name 'dict1' is not defined

In [ ]:
#6 Add and remove the elements from a tuple

In [1]:
tup1 = (1,2,3,4,5,6,7)
tup1

(1, 2, 3, 4, 5, 6, 7)

In [2]:
# convert tuple into list

In [3]:
list1 = list(tup1)

In [5]:
list1

[1, 2, 3, 4, 5, 6, 7]

In [9]:
# assign the data
list1.insert(1,15)
list1.insert(2,25)
list1.insert(3,35)
list1.insert(4,45)
list1.insert(5,55)
print(list1)

[1, 15, 25, 35, 45, 55, 3, 2, 3, 4, 5, 6, 7]

In [10]:
# convert list into tuple
tup2=tuple(list1)
print(tup2)

(1, 15, 25, 35, 45, 55, 3, 2, 3, 4, 5, 6, 7)

In [11]:
type(tup2)

tuple

In [12]:
# removing data
# convert tuple to list
list2=list(tup2)
print(list2)

[1, 15, 25, 35, 45, 55, 3, 2, 3, 4, 5, 6, 7]

In [14]:
list2.remove(15)
print(list2)

[1, 25, 35, 45, 55, 3, 2, 3, 4, 5, 6, 7]