In [1]:
# using while loops

In [2]:
count=1
while (count<10):
    print(count)
    count= count+1

1
2
3
4
5
6
7
8
9

In [3]:
count = 1
while (count<5):
    print(count)
    count= count+1

1
2
3
4

In [4]:
# using while else

In [12]:
count=1
while (count<8):
    print(count)
    count =count+1
else:
    print("end of while loop")
    print(count)

1
2
3
4
5
6
7
end of while loop
8

In [ ]:
# using for loops to loop tuples

In [13]:
tup1 = (10, 20, 30, "hello", True, False, "python")

for item in tup1:
    print(item)

10
20
30
hello
True
False
python

In [ ]:
# for using to loops to loop sets

In [14]:
set1 = { 10, 20,30,20.34,"python", True, False, 10,20}

for item in set1:
    print(item)

False
True
20
20.34
python
10
30

In [ ]:
# using for dictionary

In [15]:
dict1 = {"brand":"hero","year":2010,"cost":85000,"model":"meastro"}

for item in dict1:
    print(item)

brand
year
cost
model

In [ ]:
# range (start,stop,step)
# The range() functions is used to generate a sequence of numbers over time.
# start=starting position(0)
# stop=end position
#step=step size(1)
# range(10)=10 is the stop parameter
#range(1,10)=1 is the start, 10 is the stop parametr
#range(1,10,3)=1 is start, 10 is stop, 3 is step

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(1, 12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [20]:
for i in range(1,10,4):
    print(i)

1
5
9

In [ ]:
# using continous function in for loops

In [21]:
for i in range(10):
    if(i==4 or i==5 or i==6):
        continue
        print(i)

In [ ]:
# looping for reverse order

In [22]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# for pass keyword
#pass keyword does nothing but you can avoid getting an error when empty code is not allowed. 
# empty code is not allowed in loops, if, else, condition, functions, classes etc.

In [23]:
if(4>2):
    pass

In [25]:
if(4>2):
    print("A")
else:
    pass

A

In [ ]:
if i in range()